.contacts {
  padding: 80px 0px 100px 0px;
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
    display: flex;
    text-align: center;
    align-items: center;
    flex: 1 1;
    margin: 20px 0px 0px 0px;
    max-width: 400px;
    span {
      font-size: 18px;
    }
  }
}

.form {
  max-width: 550px;
  flex: 1 1;

  &__body {
    position: relative;
    &._sending::after {
      opacity: 1;
      visibility: visible;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../img/loading.gif') center / 50px no-repeat;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
    }
  }

  &__item {
    margin: 0 0 20px 0;
    label {
      font-size: 18px;
      display: block;
      margin: 0 0 10px 0;
    }
    input {
      background: var(--header-bg-color);
      height: 50px;
      padding: 0px 20px;
      border-radius: 8px;
      width: 100%;
      font-size: 18px;
      border: 1px solid var(--border-color);
      color: var(--accent-color);

      &._error {
        box-shadow: 0 0 5px red;
      }
    }
    textarea {
      background: var(--header-bg-color);
      min-height: 120px;
      width: 100%;
      resize: vertical;
      padding: 20px;
      border: 1px solid var(--border-color);
      border-radius: 8px;
      font-size: 18px;
      color: var(--accent-color);
    }
  }

  &__button {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background: var(--logo-color);
    color: var(--header-bg-color);
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease 0s;

    &:hover,
    &.active {
      background: var(--active-logo-color);
    }
    @media (max-width: 575px) {
      font-size: 16px;
      min-height: 40px;
    }
  }
}

@media (max-width: 767px) {
  .contacts {
    padding: 40px 0px 50px 0px;
  }
  .contacts__info {
    margin: 20px 0px 0px 0px;
  }
  .form {
    width: 100%;
    margin: 50px 0px 0px 0px;
  }
}
