.home {
  height: 100vh;
  display: flex;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__content {
    max-width: 600px;
    width: 100%;

    p {
      margin-top: 30px;
      line-height: 1.7;
      font-weight: 500;
    }

    h1,
    h2 {
      color: var(--accent-color);
    }
    &_btns {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
